
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
}
html {
    scroll-behavior: smooth;
}
body{
    font-family: 'Cairo', sans-serif
    
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.maine-h1 {
    font-size: 2em;
    margin: 0.67em 0;
    text-align: center;
    border: 2px solid;
    width: fit-content;
    padding: 10px 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    box-shadow: 0 10px 15px #ddd;
    margin-bottom: 85px;
    margin-top: 50px;
}

header{
    position: sticky;
    top: 0px;
    background-color: white;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 10px 15px -8px rgb(0 0 0 / 24%);
    /* box-shadow: 0 0 10px #ddd; */
}
.nav-link > .activety {
    color: #00a5d1;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(56, 165, 238, 0.5);
}

.container{
    /* max-width: 65rem; */
    padding-left: 50px;
    padding-right: 50px;
    margin-right: auto;
    margin-right: auto;
    display: flex;
    position: relative;
}
.containers{
    /* max-width: 65rem; */
    padding-left: 50px;
    padding-right: 50px;
    margin-right: auto;
    margin-right: auto;
}
/* @media (min-width:768px) {
    .container {
        width: 750px;
    }
}

@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
} */
header .container .logo-container img {
    margin-right: 50px;
}
.logo-container{
    flex: 0;
    display: flex;
    align-items: center;
}
.logo-container img {
    margin: 0 80px;
}

.nav-btn{
    flex: 3;
    display: flex;
}

.nav-links{
    flex: 2;
}

.log-sign{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0;
}

/* .logo{
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 3rem;
}

.logo span{
    font-weight: 300;
} */

.btn{
    display: inline-block;
    padding: .5rem 1.3rem;
    font-size: .8rem;
    border: 2px solid #fff;
    border-radius: 2rem;
    line-height: 1;
    margin: 0 .2rem;
    transition: .3s;
    text-transform: uppercase;
}

.btn.solid, .btn.transparent:hover{
    background-color: #00a5d1;
    color: #fff;
}

.btn.transparent, .btn.solid:hover{
    background-color: transparent;
    color: #00a5d1;
    border: 1px solid;
    margin-right: 160px;
    /* box-shadow: 0 0 10px #ddd; */
}

.nav-links > ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: -100px;
}

.nav-link{
    position: relative;
}

.nav-link > a{
    line-height: 3rem;
    color: #00a5d1;
    padding: 15px 20px;
    letter-spacing: 1px;
    font-size: 0.9rem;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
}

.nav-link > a > i{
    margin-left: .2rem;
}

.nav-link:hover > a{
    /* transform: scale(1.1); */
    color: white;
    background-color: #00a5d1;
    transition: all 0.5s ease-in-out 0s;
    
}
.actives-navlinks {
    color: #00a5d1;
}

.dropdown{
    position: absolute;
    top: 100%;
    right: 0px;
    width: 12rem;
    transform: translateY(10px);
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}

.dropdown ul{
    position: relative;
}

.dropdown-link > a{
    display: flex;
    background-color: #ffff;
    color: black;
    padding: .8rem 1rem;
    font-size: 0.9rem;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
}

.dropdown-link:hover > a{
    background-color: #00a5d1;
    color: #fff;
}

.dropdown-link:not(:nth-last-child(2)){
    border-bottom: 1px solid #efefef;
}
.dropdown-link:not(:nth-last-child(3)){
    border-bottom: 1px solid #efefef;
}

.dropdown-link i{
    transform: rotate(-90deg);
}

.arrow{
    position: absolute;
    width: 11px;
    height: 11px;
    top: -5.5px;
    left: 32px;
    background-color: #fff;
    transform: rotate(45deg);
    cursor: pointer;
    transition: .3s;
    z-index: -1;
}

.dropdown-link:first-child:hover ~ .arrow{
    background-color: #00a5d1;
}

.dropdown-link{
    position: relative;
}

.dropdown.second{
    top: 0;
    left: 100%;
    padding-left: .8rem;
    cursor: pointer;
    transform: translateX(10px);
}

.dropdown.second .arrow{
    top: 10px;
    left: -5.5px;
} 

.nav-link:hover > .dropdown,
.dropdown-link:hover > .dropdown{
    transform: translate(0, 0);
    opacity: 1;
    pointer-events: auto;
} 

.hamburger-menu-container{
    flex: 1;
    display: none;
    align-items: center;
    justify-content: flex-end;
}

.hamburger-menu{
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.hamburger-menu div{
    width: 1.6rem;
    height: 3px;
    border-radius: 3px;
    background-color: #fff;
    position: relative;
    z-index: 1001;
    transition: .5s;
}

.hamburger-menu div:before,
.hamburger-menu div:after{
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: #fff;
    border-radius: 3px;
    transition: .5s;
}

.hamburger-menu div:before{
    transform: translateY(-7px);
}

.hamburger-menu div:after{
    transform: translateY(7px);
}

#check{
    position: absolute;
    top: 50%;
    right: 45.5rem;
    transform: translateY(-50%);
    width: 2.5rem;
    height: 2.5rem;
    z-index: 90000;
    cursor: pointer;
    opacity: 0;
    display: none;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div{
    background-color: transparent;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:before{
    transform: translateY(0) rotate(-45deg);
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:after{
    transform: translateY(0) rotate(45deg);
}
#bar {
    color: white;
}
@keyframes animation{
    from{
        opacity: 0;
        transform: translateY(15px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}
#close {
    display: none;
}





.nav-link > a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: #00a5d1;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    z-index: -1;
}
.nav-link > a:hover::before {
    visibility: visible;
    background-color: #00a5d1;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}

@media (max-width:1115px) {
    header .container .nav-btn {
        display: none;
    }
    header .container .logo-container img {
        margin-right: 0px;
    }
    header .container .hamburger-menu-container  {
        display: flex;
    }
    header .container .nav-btn{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0px;
        left: -500px;
        height: 100vh;
        width: 500px;
        background-color: #000000d4;
        box-shadow: 0 40px 60px rgb(0 0 0 / 10%);
        padding: 80px 0 0 10px;
        transition: 0.3s;
        overflow-x: hidden ;
        overflow-y: auto;
    }
    #bar {
        font-size: 20px;
        color: black;
    }
    #close {
        display: block;
        top: 30px;
        left: 70px;
        font-size: 25px;
        color: whitesmoke;
        position: absolute;
    }
    #navbar.actives {
        left: 0;
    }
    header .container .nav-btn .nav-links {
        flex: initial;
        width: 100%;
    }
    header .container .nav-btn .nav-links > ul {
        flex-direction: column;
    }
    .nav-link {
        width: 100%;
    }
    .nav-link > a {
    line-height: 2rem;
    color: whitesmoke;
    padding: 10px 20px;
    letter-spacing: 1px;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: .5s;
    }
    .nav-link:hover a { 
        transform: scale(1);
        background-color: whitesmoke;
    }
    .dropdown, .dropdown.second {
        position: initial;
        top: initial;
        left: initial;
        transform: initial;
        opacity: 1;
        pointer-events: auto;
        width: 100%;
        padding: 0;
        background-color: #b9b9b9;
        display: none;
    }
    .nav-link:hover > .dropdown,
    .dropdown-link:hover > .dropdown {
        display: block;
    }
    .nav-link:hover > a > i,
    .dropdown-link:hover > a > i {
        transform: rotate(360deg);
    }
    .dropdown-link > a {
        background-color: transparent;
        color: #fff;
        padding: 1.2rem 2rem;
    }
    .dropdown.second .dropdown-link > a {
        padding: 1.2rem 2rem 1.2rem 3rem; 
    }
    .dropdown-link:not(:nth-last-child(2)) {
        border-bottom: none;
    }
    .arrow {
        z-index: 1;
        background-color: #b9b9b9;
        left: 10%;
        transform: scale(1.1) rotate(45deg);
    }
    .nav-link:hover .arrow {
        background-color: #ddd;
    }
    .dropdown .dropdown .arrow {
        display: none;
    }
    .dropdown-link:hover > a {
        background-color: #fff;
    }
    .dropdown-link:last-child:hover ~.arrow {
        background-color: #777;
    }
    .nav-link > a > i {
        font-size: 1.1rem;
        transform: rotate(-90deg);
        transition: .7s;
        left: 105px;
        position: absolute;
    }
    .dropdown i {
        font-size: 1rem;
        transition: .7s;
    }

    header .container .nav-btn .log-sign {
        flex: initial;
        width: 100%;
        padding: 1.5rem 1.9rem;
        justify-content: flex-end;
    }
} 
@media (max-width:1115px) {
    header .container .nav-btn {
        width: 300px;
    }
}



/* =================================media ====================================================================== */

.media {
    background-color: #00a5d1;
    padding: 10px;
    
} 
.media .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.media .container .media_icons i {
    padding: 5px;
    color: white;
    transition: 0.3s ease ;
}
.media .container .media_icons i:hover {
    padding: 5px;
    transform: scale(1.1);
    color: #fff ;
}
.media .container .contact_us {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.media .container .contact_us .phone,
.email {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.media .container .contact_us i {
    color: #fff;
}
.media .container .contact_us p {
    color: white;
}
@media (max-width: 500px) {
    .media .container {
        padding: 0;
    }
    .media .container .media_icons {
        display: none;
    }
    .media .container .contact_us {
        gap: 85px;
        font-size: 13px;
    }
    .media .container .contact_us .phone,
    .email {
        gap: 10px;
    }
}



/* =======================================================landing page =============================================== */

.landing-page {
    background-image: url(../img/smartworks-coworking-cW4lLTavU80-unsplash\ \(1\).jpg);
    background-size: cover;
    background-attachment: fixed;
    min-height: 80vh;
    position: relative;
}
.landing-page::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 /70%);
}
.landing-page .talk-box {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 620px;
    max-width: 100%;
}
.landing-page .talk-box h1 {
    font-size: 4vw;
    color: white;
    text-transform: uppercase;
    line-height: 1;
    text-shadow: 0 1.5rem 3rem rgba(0,0,0,.3);
    padding: .5rem 0;
    margin: 0;
    margin-bottom: 0px;
}
.landing-page .talk-box h3 {
    color: #4a6bb7;
    font-size: 2.5vw;
    margin-bottom: 20px;
}
.landing-page .talk-box h1 span {
    color: #00a5d1;
}
.landing-page .talk-box p {
    color: white;
    font-size: 1.1rem;
}
.landing-page .talk-box a {
    display: inline-block;
    background:rgba(255, 255, 255, 0.589);
    margin-top: 2rem;
    color: white;
    font-size: 23px;
    border-radius: 6px;
    padding: 5px 30px;
    cursor: pointer;
    transition: .3s ease;
}
.landing-page .talk-box a:hover {
    background-color: #00a5d1;
    
}


/* ==================================================about-us======================================================== */

.about-us {
    padding-top: 60px;
    padding-bottom: 60px;

}
.special-heading {
    color: #00a5d1;
    font-size: 72px;
    text-align: center;
    font-weight: 800;
    letter-spacing: 0px;
    margin: 0;
}
.special-heading2 {
    color: white;
    background-color: #00a5d1;
    padding: 25px;
    font-size: 72px;
    text-align: center;
    font-weight: 800;
    letter-spacing: 0px;
}
.special-heading2 + p {
    color: white;
    margin: -25px 0 0  ;
    font-size: 18px;
    text-align: center;
}
.special-heading + p {
    margin: -15px 0 0;
    font-size: 18px;
    text-align: center;
    color: #797979;
}


.about-us .containers .content {
    margin-top: 100px;
    display: flex;
    gap:  80px;
}
.about-us .containers .content .img-box img{
    width: 100%;
    box-shadow: 1rem 1rem 0 #00a5d170;
}
.about-us .containers .content .text-box hr {
    width: 100%;
    display: inline-block;
    border-color: #00a5d1;

}
.about-us .containers .content .text-box .first,
.second {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}
.about-us .containers .content .text-box .second {
    margin-bottom: 0;
    margin-top: 50px;
}
.about-us .containers .content .text-box .second2{
    font-size: 18px;
    padding: 5px 15px;
    font-weight: 700;
    background-color: #00a5d1;
    border: 1px solid;
    /* width: 20%; */
    text-align: center;
    border-radius: 5px;
    /* transform: scale(1.1); */
    transition: 0.3s ease;

}
.about-us .containers .content .text-box .second2:hover{
    background-color: white;
    color: #4a6bb7;
    transform: scale(1.1);
}
@media (max-width: 860px){
    .about-us .containers .content .img-box img {
        display: none;
    }
    .about-us .containers .content {
        gap: 0px;
    }
}
/* ============================================================serveses ============================================== */


.packages{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: whitesmoke;
}
.container-2{
    padding-top: 20px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, auto);
    gap: 60px;
    
  }
  
  .container-2 .card{
    position: relative;
  }
  
  .container-2 .card .face{
    width:300px;
    height: 200px;
    transition:.4s;
    
  }
  
  .container-2 .card .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-content:center;
    /* align-items: center; */
    z-index: 1;
    transform: translateY(100px);
  }
  
  .container-2 .card:hover .face.face1{
    transform: translateY(0);
    box-shadow:
      inset 0 0 60px whitesmoke,
      inset 20px 0 80px #00a5d1,
      inset -20px 0 80px #324e8d,
      inset 20px 0 300px #00a5d1,
      inset -20px 0 300px #324e8d,
      0 0 50px #fff,
      -10px 0 80px #00a5d1,
      10px 0 80px #324e8d;
     
  }
  
  
  .container-2 .card .face.face1 .content{
    opacity: .5;
    transition:  0.5s;
    text-align: center;
    
     
    
    
   
  
  }
  
  .container-2 .card:hover .face.face1 .content{
    opacity: 1;
   
  }
  
  .container-2 .card .face.face1 .content i{
    font-size: 3em;
    color: white;
    display: inline-block;
     
  }
  
  .container-2 .card .face.face1 .content img{
    width: 100%;
    text-align: center;
    
  
  }
  
  .container-2 .card .face.face1 .content a{
     transition: .5s;
  }
  
  .container-2 .card .face.face2{
     position: relative;
     background: whitesmoke;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,.8);
    transform: translateY(-100px);
  }
  
  .container-2 .card:hover .face.face2{
      transform: translateY(0);
  
  
  }
  
  .container-2 .card .face.face2 .content p, a{
    font-size: 10pt;
    margin: 0 ;
    padding: 0;
    color:#333;
  }
  
  .container-2 .card .face.face2 .content a{
    text-decoration:none;
    color: black;
    box-sizing: border-box;
    outline : 1px dashed #333;
    padding: 10px;
    margin: 15px 0 0;
    display: inline-block;
  }
  
  .container-2 .card .face.face2 .content a:hover{
    background: #333 ;
    color: whitesmoke; 
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
  }
  @media (max-width: 1200px) {
    .container-2 { 
           grid-template-columns:repeat(auto-fill,minmax(250px,1fr))
           
       }
       .container-2 .card{
        margin-right: 0px;
       }
        }
/* ==================================================================================================================== */
  .testimonials {
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
    background-color: white;
  }
  .testimonials .containers {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 70px;
    padding-top: 75px;
    padding-bottom: inherit;
    background-color: white;
    margin-top: 100px;
  }
  .testimonials .box {
    padding: 20px;
    background-color: whitesmoke;
    box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
    border-radius: 6px;
    position: relative;
  }
  .testimonials .box img {
    position: absolute;
    left: -10px;
    top: -50px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #00a5d1;
  }
  .testimonials .box h3 {
    margin: 0 0 10px;
  }
  .testimonials .box .title {
    color: #777;
    margin-bottom: 10px;
    display: block;
    border-bottom: #00a5d1 solid 2px;
  }
  .testimonials .box .rate .filled {
    color: #ffc107;
  }
  .testimonials .box p {
    line-height: 1.5;
    color: #777;
    margin-top: 10px;
    margin-bottom: 0;
  }
  @media (max-width: 1200px) {
    .testimonials .containers { 
        grid-template-columns:repeat(auto-fill,minmax(250px,1fr))
        
    }
    }
  /* End Testimonials */


  /* ============================================================================================================ */
  .contact {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: whitesmoke;
  }
  .contact .content {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
@media (max-width: 767px) {
    .contact .content {
        flex-direction: column;
    }
}
.contact .content form {
    flex-basis: 70%;
}
.contact .content form .main-input {
    padding: 20px;
    display: block;
    border: 1px solid #ccc;
    margin-bottom: 30px;
    width: 100%;
}
.contact .content form .main-input:focus {
    outline: none;
} 
.contact .content form textarea .main-input {
    height: 200px;
}
.contact .content form input[type="submit"] {
    background-color: #00a5d1;
    color: white;
    padding: 20px;
    border: none;
    display: flex;
    margin-left: auto;
    text-transform: uppercase;
    cursor: pointer;
}
.contact .content .info {
    flex-basis: 25%;
}
@media (max-width: 767px) {
    .contact .content .info {
        order: -1;
        text-align: center;
    }
}
.contact .content .info h4 {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 18px;
}
.contact .content .info .phone {
    display: block;
    color: #777;
    margin-bottom: 10px;
}
.contact .content .info h4:nth-of-type(2) {
    margin-top: 90px;
}
@media (max-width: 767px){
    .contact .content .info h4:nth-of-type(2) {
        margin-top: 30px;
    }
}
.contact .content .info address {
    color: #777;
    line-height: 2;

}
@media (max-width: 767px) {
    .contact .content .info address{
        margin-bottom: 40px;
    }
}

/* ==============================================================footer=========================================== */

.footer{
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url(../img/unnamed.png);
    background-size: cover;
    position: relative;
    color: white;
    text-align: center;
}
.footer::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.353);
}
.footer .containerz {
    position: relative;
}

.footer img {
    margin-bottom: 20px;
    position:initial;
}
.footer p:not(.copyright) {
    text-transform: uppercase;
    padding: 20px;
    border-bottom: 1px solid white;
    font-size: 22px;
    width: fit-content;
    margin: 20px auto;
}
.footer .social-icons> a > i {
    padding: 20px 20px;
    color: white;
   
}
.footer .social-icons> a > i:hover {
    color: #00a5d1;
}
.footer .copyright{
    margin-top: 50px;
}
.footer .copyright span {
    font-weight: bold;
    color: #00a5d1;

}



.aboutus2 {
    background-color: whitesmoke;
}
.topabout {
    padding-top: 100px;
}